h1 {
    
    font-size: 80px;
}
h3 {
    font-size: 40px;
}
.header img {
  float: left;
    margin-left: 40px;
    margin-top: 20px;
  width: 100px;
  height: 120px;
     border-radius:50%;
 
}
.header h1 {
    
  text-align: left;
    margin-left: 80px;
    margin-top: 120px;
    
    color: white;
 }
.header h3 {
    text-align: left;
    margin-left: 80px;
    margin-top: -50px;
        color: white;
}
body {
  background-image: url("images/BG1.jpg");
   background-repeat: no-repeat;
    background-size: 1600px 400px;
    
    }
    p {
        font-family: "Courier New";
    }    
        ol {
            font-family: "Courier New";
        }
 .column {
  float: left;
  width: 25.33%;
  padding: 5px;
}       
        
        .footer-links {
            float: left;
            width: 43.33%;
            padding: 5px;
            margin-left: 45px;
        }
        .navbar {
            overflow: hidden;
            margin-left: 30px;
        }
      .navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;  
          margin-left: 50px;
        }
footer img{
        margin: 1em;
        max-width: 10%;
        border-bottom: solid transparent 2px;
    }
    footer img:hover{
        border-bottom: solid 2px;
        filter: brightness(50%);
        border-color: rgb(74, 134, 155);
    }
    
