h1 {
    background-color: #375fce;
    color: #ffffff;
    font-size: 100px;
}
.header img {
  float: right;
  width: 100px;
  height: 100px;
  background: #555;
}
.header h1 {
  position: left;
  top: 18px;
  left: 10px;
}
